body { 
    /* background-color: ivory;  */
    margin: 0;
    background-color: #f4efec;
}

.wrapper-lines {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}

.lines-vertical {
    display: block;
    width: 2px;
    height: 100%;
    background-color: grey;
    opacity: .07;
}

img {
    width: 100%;
}

.hero-frame {
    border: 1px solid #3f3d3d;
    display: block;
    margin-top: 0;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;

    position: relative;
    
    margin-top: 20rem;
    margin-bottom: 20rem;
}

#game-board {
    border: 1px solid black;
    background: #eee; 
    display: block; 
    margin: 0 auto;
}

.conway-container {
    width: 25rem;
    height: 20rem;
    z-index: 1;
    position: absolute;
    top: -177%;
    right: 15%

}

.survey-container {
    width: 25rem;
    height: 20rem;
    position: absolute;
    left: -6.32%;
    top: 13.92%;
    z-index: -1;

}

#tribute {
    flex-direction: column;
    align-items: center;
}

.hero-title  {
    font-size: 3rem;
    margin: 0;
}